html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: grey;
    color: white;
    font-weight: 900px;
    font-family: 'WaltographRegular', 'WaltographUIBold';
}

.starting-page,
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hands {
    display: flex;
    gap: 50px;
}

.start {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 0px;
}

.heads {
    display: flex;
    width: auto;
    height: 100px;
    margin: 0px;
}

img {
    width: 100px;
    height: 100px;
}

.game-name,
.computer {
    font-size: 50px;
}

.computer-hand-and-score {
    display: flex;
    justify-content: space-between;
    width: 400px;
    flex: 0 1 auto;
}

.computer {
    display: flex;
    justify-content: center;
}

.computer-hand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15x;
}

.modal{
    display: none;
    font-size: 100px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f4f4f4;
    margin: 30% auto;
    padding: 60px;
    width: 70%;
    gap: 50px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

#closeBtn{
    color: #000;
    font-size: 20px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#winner {
    font-size: 50px;
}